GMAIL_APP_PASSWORD=
GMAIL_USER=
R2_ACCESS_KEY_ID=
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
R2_SECRET_ACCESS_KEY=
RECIPIENT_EMAIL=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=